target/
*.class

# Log files
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-mvn-cache/

# VS Code
.vscode/
